body {
    background-color: floralwhite;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}
a:link {
    text-decoration: none;
}
.nav {
    display: flex;
    flex-direction: row;
    margin-top: 0;
    margin-bottom: 2px;
    background-color: cadetblue ;
}
nav .link {
    position: fixed;
    background-color: cadetblue;
    width: 1700px;
    justify-content: center;
    display: flex;
    padding: 16px;
    margin-top: 0;
    margin-bottom: 2px;
    list-style-type: none;
    gap: 100px;
}
.link { 
    display: flex;
    list-style: none;
    gap: 100px;
    font-size: larger;
}
.container{
    display: flex;
    gap: 120px;
    margin-left: 0px;
    margin-right: 0px;
    background-color: black;
    color: white;
    padding-bottom: 20px;
}
.cont{
    flex-direction: column;
    justify-content: center;
} 
.contact-card {
   max-width: 300px;
   background-color: antiquewhite;
   margin: 60px auto;
   padding: 60px;
   border-radius: 20px;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
   text-align: center;
   height: 400px;
}
form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
}
.submit {
    width:40%;
    padding: 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
}
.whatsapp-link {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
}
.whatsapp-link img {
    width: 50px;
}
footer {
    /*background-color: black;
    color: white;*/
    text-align: center;
    padding: 15px;
}