body {
    margin: 0;
    font-family: sans-serif;
    background-color: floralwhite;
}
a:link {
    text-decoration: none;
}
.nav {
    display: flex;
    flex-direction: row;
    margin-top: 0;
    margin-bottom: 2px;
    background-color: cadetblue ;
}
nav .link {
    position: fixed;
    background-color: cadetblue;
    width: 1700px;
    justify-content: center;
    display: flex;
    padding: 16px;
    margin-top: 0;
    margin-bottom: 2px;
    list-style-type: none;
    gap: 70px;
}
.link { 
    display: flex;
    list-style: none;
    gap: 70px;
    font-size: larger;
}
#gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 15px;
    padding: 20px;
}
.gallery-item {
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
}
.gallery-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
}
.gallery-item img:hover {
    transform: scale(1.05);
}
#pictures {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 15px;
    padding: 20px;;
}
.pics {
    overflow: hidden;
    border-radius: 6px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
}
.pics img:hover {
    transform: scale(1.05);
}
.container{
    display: flex;
    gap: 100px;
    margin-left: 0px;
    margin-right: 0px;
    background-color: black;
    color: white;
    padding-bottom: 20px;
    text-align: center;
}
.cont{
    flex-direction: column;
    justify-content: center;
    text-align: left;
} 
.whatsapp-link {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
    color: green;
}
.whatsapp-link img {
    width: 50px;
}
footer {
   /* background-color: black;
    color: white;*/
    text-align: center;
    padding: 50px;
}